.searchbar {
    background-color:  rgb(44, 90, 169);
}
.form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.button {
    /* background-color: rgb(236, 235, 235); */
    border-radius: 2px;
    border-color: inherit;
    border-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input {
    border-style: none;
    border-color: inherit;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 14px;
    width: 200px;
    height: 20px;
    border: none;
    outline: none;

}
.input::placeholder {
    font: inherit;
    font-size: 12px;
  }
.button {
    border-radius: 2px;
    border-color: inherit;
    border-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 22px;
    height: 22px;
}